#containerDiv{
    display: grid;
    /* grid-template-columns: repeat(2,3fr); */
    grid-template-columns: auto auto;
    }

body{
    background-color: #2f2f2f;
    }

#overText{
     color: white;
     }

#opprettMedlemDiv{
      width: 300px;
      }

#medlemsForm{
      display: grid;
      grid-row-gap: 10px;
      }

#rMedlemBtn{
      width: 100px;
      }

#opprettOppgaveDiv{
      width: 300px;
      }

#oppgaveForm{
      display: grid;
      grid-row-gap: 10px;
      }

#teamMembers{
      background-color: white;
      }

#oppGaver{
      background-color: white;
      }